videoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
			 xmlns:tns="http://media.inc.co.jp/soapServicer" 
			 xmlns:x1="http://media.inc.co.jp/soapServicer/types" 
			 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			 xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
			 name="VedioService" 
			 targetNamespace="http://media.inc.co.jp/soapServicer">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" 
        		xmlns:x1="http://media.inc.co.jp/soapServicer/types" 
        		targetNamespace="http://media.inc.co.jp/soapServicer/types" 
        		elementFormDefault="qualified">
			<element name="search">
				<complexType>
					<sequence>
						<element name="patientName" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="searchResponse" >
				<complexType>
					<sequence>
						<element name="patientList" minOccurs="0" maxOccurs="unbounded">
					      <complexType>
					        <sequence>
					          <element name="patientId" type="string" />
					          <element name="patientName" type="string" />
					          <element name="patientOld" type="string" />
					          <element name="patientSex" type="string" />
					          <element name="clinicId" type="string" />
					        </sequence>
					      </complexType>
						</element>
					</sequence>
				</complexType>
			</element>
            <element name="login">
				<complexType>
					<sequence>
						<element name="groupid" type="string" />
						<element name="userid" type="string" />
						<element name="password" type="string" />
					</sequence>
				</complexType>
            </element>
            <element name="loginResponse">
				<complexType >
					<sequence>
						<element name="loginResult" type="string" />
					</sequence>
				</complexType>
            </element>
	      <element name="uploadVideo">
		      <complexType>
		        <sequence>
		          <element name="patientId" type="string" />
		          <element name="clinicId" type="string" />
		          <element name="photographDate" type="date" />
		          <element name="videoFiles" minOccurs="1" maxOccurs="unbounded" type="base64Binary" />
		        </sequence>
		      </complexType>
	      </element>
		      <element name="uploadVideoResponse">
			      <complexType>
			        <sequence>
			          <element name="videoFileName" minOccurs="0" maxOccurs="unbounded" type="string" />
			        </sequence>
			      </complexType>
		      </element>
            <element name="faultDetail">
                <complexType>
                    <sequence>
						<element name="status" type="int" />
						<element name="detail" type="string" />
						<element name="message" type="string" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
 	<wsdl:message name="searchRequest">
		<wsdl:part name="in" element="x1:search"/>
	</wsdl:message>
	<wsdl:message name="searchResponse">
		<wsdl:part name="out" element="x1:searchResponse"/>
	</wsdl:message>
    <wsdl:message name="loginRequest">
        <wsdl:part name="in" element="x1:login"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="out" element="x1:loginResponse"/>
    </wsdl:message>
  <wsdl:message name="uploadVideoRequest">
    <wsdl:part name="in" element="x1:uploadVideo" />
  </wsdl:message>
  <wsdl:message name="uploadVideoResponse">
    <wsdl:part name="out" element="x1:uploadVideoResponse" />
  </wsdl:message>
    <wsdl:message name="UserDefinedFault">
        <wsdl:part name="faultDetail" element="x1:faultDetail"/>
    </wsdl:message>
    <wsdl:portType name="VedioUploadPortType">
        <wsdl:operation name="login">
            <wsdl:input name="loginRequest" message="tns:loginRequest"/>
            <wsdl:output name="loginResponse" message="tns:loginResponse"/>
            <wsdl:fault name="UserDefinedFault" message="tns:UserDefinedFault"/>
        </wsdl:operation>
		<wsdl:operation name="search">
			<wsdl:input name="searchRequest" message="tns:searchRequest" />
			<wsdl:output name="searchResponse" message="tns:searchResponse" />
			<wsdl:fault name="UserDefinedFault" message="tns:UserDefinedFault" />
		</wsdl:operation>
	    <wsdl:operation name="uploadVideo">
	      <wsdl:input name="uploadVideoRequest" message="tns:uploadVideoRequest" />
	      <wsdl:output name="uploadVideoResponse" message="tns:uploadVideoResponse" />
	      <wsdl:fault name="UserDefinedFault" message="tns:UserDefinedFault" />
	    </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VedioUploadBinding" type="tns:VedioUploadPortType">
        <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
		<operation name="login">
			<soap12:operation/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="UserDefinedFault">
				<soap12:fault name="UserDefinedFault" use="literal"/>
			</fault>
		</operation>
        <operation name="search">
            <soap12:operation/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="UserDefinedFault">
                <soap12:fault name="UserDefinedFault" use="literal"/>
            </fault>
        </operation>
        <operation name="uploadVideo">
            <soap12:operation/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="UserDefinedFault">
                <soap12:fault name="UserDefinedFault" use="literal"/>
            </fault>
        </operation>
    </wsdl:binding>
    <wsdl:service name="SOAPService">
        <wsdl:port name="SoapPort" binding="tns:VedioUploadBinding">
            <soap12:address location="http://localhost:8085/fromwsdl/VedioUploadService"/>
        </wsdl:port>
    </wsdl:service>
</definitions>
